* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 1.5rem;
}

.hidden {
  display: none;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin: 1.5rem;
  font-weight: 500;
}

.initial-title {
  color: rgb(111, 72, 26);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4rem;
  text-align: center;
  font-size: 5rem;
}

#question-title {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  font-weight: 300;
}

.options-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
  height: 40vh;
  margin-bottom: 5rem;
}

button {
  border: none;
  border-radius: 5px;
}

button:disabled {
  color: inherit;
}

.question-btn {
  box-shadow: 5px 5px 10px rgb(220, 220, 220);
}

button:hover {
  filter: brightness(90%);
}

.wrong {
  background-color: rgb(199, 38, 38);
}

.wrong:hover {
  filter: brightness(90%);
}

.right {
  background-color: rgb(55, 173, 34);
}

.right:hover {
  filter: brightness(90%);
}

.footer-btn {
  padding: 0.5rem 1rem;
}

.footer-btn:hover {
  cursor: pointer;
}

#solution {
  margin-right: 0.5rem;
}
